<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pvirtech.QyRound.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Pvirtech.QyRound.Properties.Settings>
            <setting name="CjIP" serializeAs="String">
                <value />
            </setting>
            <setting name="CjPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpIP" serializeAs="String">
                <value />
            </setting>
            <setting name="SpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrameTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Byte0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Byte1" serializeAs="String">
                <value>0</value>
            </setting>
        </Pvirtech.QyRound.Properties.Settings>
    </userSettings>
</configuration>